<li class="weapon__item">
  <span class="weapon__item-name">{{ weapon.name }}</span>
  <img
    src="{{
      hoveredWeaponId !== weapon.id ? weapon.imageList : weapon.imageDetail
    }}"
    width="230"
    [ngClass]="{
      'weapon__item-image': true,
      small: weapon.category === 'Sidearm',
      'is_hovered': hoveredWeaponId === weapon.id,
      'is_odin': hoveredWeaponId === weapon.id && weapon.name === 'Odin',
      'is_judge': hoveredWeaponId === weapon.id && weapon.name === 'Judge'
    }"
  />
  <!-- <p>{{ weapon.category }}</p> -->
  <!-- <h3>Stats:</h3>
  <div class="weapon__stats">
    <p>Category: {{ weapon.category }}</p>
    <p>
      Fire rate:
      {{ weapon.stats.fireRate ? weapon.stats.fireRate + " rps" : "No apply" }}
    </p>
    <p>
      Equip time:
      {{
        weapon.stats.equipTimeSeconds
          ? weapon.stats.equipTimeSeconds + " s"
          : "No apply"
      }}
    </p>
    <p>
      Reload time:
      {{
        weapon.stats.reloadTimeSeconds
          ? weapon.stats.reloadTimeSeconds + " s"
          : "No apply"
      }}
    </p>
    <p>
      Wall Penetration:
      {{
        weapon.stats.wallPenetration ? weapon.stats.wallPenetration : "No apply"
      }}
    </p>
  </div> -->
  <!-- <div>
    <h3>Skins:</h3>
    @for (skin of weapon.skins; track skin.id) {
    <ul>
      @if (!skin.name.includes("Standard") && !skin.name.includes("Random")) {
      <li>
        <p>{{ skin.name }}</p>
        <img src="{{ skin.image }}" alt="{{ skin.name }} image" />
      </li>

      }
    </ul>
    }
  </div> -->
</li>
