<section class="weapon-detail">
  <!-- <p>{{ weapon.category }}</p> -->
  <!-- <h3>Stats:</h3> -->

  <!-- <p>Category: {{ weapon.category }}</p> -->
  @for (stat of stats; track stat.property; let index = $index) {
  <!-- <div class="weapon__stats"> -->
    <div class="stats-wrapper">
      <div
        class="stats-sector stats-sector--{{ stat['classModifier'] }}"
        [ngStyle]="getSectorStyle(index)"
      ></div>
      <div class="stats-info">
        <span>{{ stat["title"] }}</span>
        <span>
          {{
            weapon.stats[stat.property]
              ? weapon.stats[stat.property]
              : "No apply"
          }}
        </span>
        <span class="stat-icon stat-icon--{{ stat['classModifier'] }}"></span>
      </div>
    </div>
  <!-- </div> -->
  }

  <!-- <div>
  <h3>Skins:</h3>
  @for (skin of weapon.skins; track skin.id) {
    <ul>
      @if (!skin.name.includes("Standard") && !skin.name.includes("Random")) {
        <li>
          <p>{{ skin.name }}</p>
          <img src="{{ skin.image }}" alt="{{ skin.name }} image" />
        </li>
        
      }
    </ul>
  }
</div> -->
</section>
