.weapon-detail {
  position: relative;
  top: 10px;
  left: calc(50vw - (var(--sector-inner-width) / 2));
  z-index: 3;
  width: var(--sector-inner-width);
  height: var(--sector-inner-width);
  border-radius: 50%;
  color: var(--secondary);
  font-size: 3rem;
  border: 1px solid black;
}

.stats-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--sector-outer-width);
  height: var(--sector-outer-width);
  border-radius: 50%;
  background-color: transparent;
  overflow: hidden;
}

.stats-sector {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vw;
  background: blue;
  transform-origin: 0 0; 
  cursor: pointer;
  z-index: 1;
}

.stats-sector:hover {
  background: #000;
}

.stats-info {
  position: relative;
  top: 0;
  left: 0px;
  /* transform: initial; */
  color: var(--grey-light);
  z-index: 2;
}
