<main class="main">
  <h1>Valorant Stats</h1>
  <app-weapon-list
    weaponDetailId="{{ weaponDetailId }}"
    (setIsBackdropOpen)="handleBackdrop($event)"
    (setWeapon)="handleClickOnWeapon($event)"
  />
  @if (isBackdropOpen) {
  <div class="backdrop">
    <app-weapon-detail [weapon]="weaponClicked" />
    <div class="weapon-detail-inner">
        <img
          src="{{ weaponClicked['imageDetail'] }}"
          alt="{{ weaponClicked['imageDetail'] }} logo"
          width="190"
        />
    </div>
  </div>
  }
</main>

<router-outlet />
