<main class="main">
  <h1>Valorant Stats</h1>
  <app-weapon-list
    weaponDetailId="{{ weaponDetailId }}"
    (setIsBackdropOpen)="handleBackdrop($event)"
    (setWeapon)="handleClickOnWeapon($event)"
    (setWeapons)="handleWeapons($event)"
  />
  @if (isBackdropOpen) {
  <div class="backdrop">
    <span class="closeWeaponDetail" (click)="handleBackdrop(false)"></span>
    <span
      (click)="handlePreviousWeapon()"
      class="weapon-controller weapon-controller--prev"
    ></span>
    <span
      (click)="handleNextWeapon()"
      class="weapon-controller weapon-controller--next"
    ></span>
    <app-weapon-detail [weapon]="weaponClicked" />
    <div class="weapon-detail-inner">
      <span
        [ngClass]="{
        'skin-controller skin-controller--up': true,
        'zoomed-in': isZoomedIn ,
      }"
        (click)="handlePreviousSkin()"
      ></span>
      <p class="weapon-name">{{ weaponClicked.name }}</p>
      <span
        class="zoom zoom--in"
        (click)="handleZoomIn(true)"
        [ngClass]="{
          isShown: isWeaponImageHovered
        }"
        (mouseover)="handleShowZoomInIcon(true)"
        (mouseleave)="handleShowZoomInIcon(false)"
      ></span>
      <figure
        [ngClass]="{
          'zoomed-in': isZoomedIn,
        }"
        (mouseover)="handleShowZoomInIcon(true)"
        (mouseleave)="handleShowZoomInIcon(false)"
      >
        <span
          class="zoom zoom--out"
          (click)="handleZoomIn(false)"
          [ngClass]="{
            isShown: isZoomedWeaponHovered
          }"
          (mouseover)="handleShowZoomOutIcon(true)"
          (mouseleave)="handleShowZoomOutIcon(false)"
        ></span>
        <img
          [ngClass]="{
          'weapon-image': true,
          'side-arm': weaponClicked.category === 'Sidearm',
          'zoomed-in': isZoomedIn,
        }"
          src="{{
            skinIndex !== null
              ? weaponClicked.skins[skinIndex]['image']
              : weaponClicked.imageDetail
          }}"
          alt="{{
            skinIndex !== null
              ? weaponClicked.skins[skinIndex]['image']
              : 'Standard'
          }} skin"
          width="190"
          (mouseover)="handleShowZoomOutIcon(true)"
          (mouseleave)="handleShowZoomOutIcon(false)"
        />
      </figure>
      <p class="weapon-skin">
        {{
          skinIndex !== null
            ? weaponClicked.skins[skinIndex]["name"]
            : "Standard"
        }}
      </p>
      <span
        class="skin-controller skin-controller--down  {{
          isZoomedIn ? 'zoomed-in' : ''
        }}"
        (click)="handleNextSkin()"
      ></span>
    </div>
  </div>
  }
</main>

<router-outlet />
