/* You can add global styles to this file, and also import other style files */

:root {
  --main: rgb(29, 29, 29);
  --secondary-light: rgb(231, 224, 187);
  --secondary-opac-25: rgba(190, 163, 9, 0.25);
  --secondary-opac-50: rgba(190, 163, 9, 0.50);
  --secondary: rgb(190, 163, 9);
  --grey: grey;
  --grey-darker: rgb(58, 58, 58);
  --grey-dark: rgb(75, 75, 75);
  --grey-light: rgb(172, 172, 172);
  --white-opac-50: rgba(255, 255, 255, 0.5);
}

@font-face {
  font-family: "Tugsten-Bold";
  src: url("./assets/Tungsten-Bold/Tungsten-Bold.ttf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  font-family: "Tugsten-Bold", arial, georgia, sans-serif;
  color: var(--secondary);
  background-color: var(--main);
  text-align: center;
}

h1 {
  font-size: 8rem;
  margin: 50px 0;
}

h2 {
  font-size: 4rem;
  color: white;
}